<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .grid {
            margin: 0 auto;
            width: 500px;
            text-align: center;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        table th,
        table td {
            height: 35px;
            line-height: 35px;
        }

        table thead,
        .book {
            background-color: #f5dba9;
        }

        table td {
            padding: 10px;
            border: 1px dashed #f5dba9;
        }

        [v-cloak] {
            display: none;
        }
    </style>
</head>

<body>
    <div id="app">
        <div class="grid">
            <div>
                <h1>图书管理</h1>
                <div class="book">
                    <div>
                        <label for="id">
                            编号：
                        </label>
                        <input type="text" id="id" v-model="id" :disabled="flag" v-focus>
                        <label for="name">
                            名称：
                        </label>
                        <input type="text" id="name" v-model="name">
                        <button @click="handle" :disabled="submitFlag">提交</button>
                    </div>
                </div>
            </div>
            <table>
                <thead>
                    <th>编号</th>
                    <th>名称</th>
                    <th>时间</th>
                    <th>操作</th>
                </thead>
                <tbody>
                    <tr v-for="item in books" v-cloak>
                        <td>{{item.id}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.date | dateFormat}}</td>
                        <td>
                            <a href="" @click.prevent="toEdit(item.id)">修改</a>
                            <span>|</span>
                            <a href="" @click.prevent="deleteBook(item.id)">删除</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <script src="js/vue.js"></script>
    <script src="js/axios.js"></script>
    <script>
        axios.defaults.baseURL = 'http://localhost:3000/'
        axios.interceptors.response.use(function (res) {
            return res.data
        }, function (error) {
            console.log(error);
        })
        Vue.directive('focus', {
            inserted: function (el) {
                //    el表示指令所绑定的元素
                el.focus();
            }
        })
        Vue.filter('dateFormat', (dataStr) => {
            var time = new Date(dataStr);
            console.log(time);
            function timeAdd0(str) {
                if (str < 10) {
                    str = '0' + str;
                }
                return str
            }
            var y = time.getFullYear();
            var m = time.getMonth() + 1;
            var d = time.getDate();
            var h = time.getHours();
            var mm = time.getMinutes();
            var s = time.getSeconds();
            return y + '-' + timeAdd0(m) + '-' + timeAdd0(d) + ' ' + timeAdd0(h) + ':' + timeAdd0(mm) + ':' + timeAdd0(s);
        })
        var vm = new Vue({
            el: "#app",
            data: {
                id: "",
                name: "",
                flag: false,
                submitFlag: false,
                books: ''
            },
            methods: {
                handle: async function () {
                    if (this.id && this.name) {
                        if (this.flag) {
                            // 编辑操作
                            var ret = await axios.put('books/' + this.id, {
                                name: this.name
                            })
                            if (ret.status == 200) {
                                this.queryData()
                            }
                            this.flag = false
                        } else {
                            // 添加图书
                            var ret = await axios.post('books', {
                                name: this.name
                            })
                            if (ret.status == 200) {
                                this.queryData()
                            }
                        }
                        this.id = ""
                        this.name = ""
                    }
                },
                toEdit: function (id) {
                    // 禁止修改图书的id
                    this.flag = true
                    var ret = await axios.get('books/' + id)
                    this.id = ret.id
                    this.name = ret.name
                },
                deleteBook: function (id) {
                    // 根据id删除图书
                    // 用id查询出要删除图书信息的索引
                    /* var index = this.books.findIndex(function (item) {
                        return item.id == id
                    }) */
                    // 根据索引删除信息
                    // this.books.splice(index, 1)
                    // ----------------------------
                    // 第二种办法
                    var ret = await axios.delete('books/' + id)
                    if (ret.status == 200) {
                        this.queryData()
                    }
                },
                queryData: async function () {
                    // 通过后台接口获取图书列表信息
                    this.books = await axios.get('books')
                }
            },
            watch: {
                name: async function (val) {
                    // var ret = this.books.some(function (item) {
                    //     return item.name === val
                    // })
                    var ret = await axios.get('books/book/' + this.name)
                    if (ret.status == 1) {
                        this.submitFlag = true
                    } else {
                        this.submitFlag = false
                    }
                }
            },
            mounted: function () {
                this.queryData()
            }
        })
    </script>
</body>

</html>